* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Kenar taşımları düzenler */
}

/* Genel stil */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Sabit menü (sol panel) */
.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #575757;
    padding-top: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Menünün kaydırılabilmesi için */
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    object-fit: cover;
}

/* Mobilde menüyü kapatıp açmak için buton */
.menu-toggle {
    display: none; /* İlk başta görünmez */
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    z-index: 1000; /* Üstte kalmasını sağlar */
}

/* İçerik kısmı */
.content {
    margin-left: 20%;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.name {
    text-align: center; /* Ortala */
    font-size: 35px; /* Yazı boyutunu ayarla */
    color: #c5c5c5; /* Yazı rengini beyaz yap */
    margin-top: 10px; /* Fotoğrafla arasına boşluk bırak */
    font-weight: bold; /* Kalın yaz */
}

.job {
    text-align: center; /* Ortala */
    font-size: 30px; /* Yazı boyutunu ayarla */
    color: #c5c5c5; /* Yazı rengini beyaz yap */
    margin-top: 5px; /* Fotoğrafla arasına boşluk bırak */
    font-weight: bold; /* Kalın yaz */
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    margin: 12px 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #575757;
}

/* Medya sorguları ile mobil görünüm için düzenlemeler */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        transform: translateX(-100%); /* Menü mobilde gizlenecek */
    }

    /* Menü açma butonu mobilde görünür olacak */
    .menu-toggle {
        display: block;
    }

    /* İçerik sola yaslanacak (mobilde menü gizleneceği için) */
    .content {
        margin-left: 0;
        padding: 20px;
    }

    /* Mobilde menüyü açtığınızda tam ekran olacak */
    .sidebar.active {
        transform: translateX(0); /* Menü mobilde açıldığında görünür olur */
    }
}
