/* Genel stil */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Sabit menü (sol panel) */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #575757;
}

/* İçerik kısmı */
.content {
    margin-left: 270px;
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

h1 {
    color: #333;
}
